doctype html
html(lang="en")
    head
        title Stock Search Box
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Bootstrap
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/superhero-bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/myStyle.css")
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js")
          script(src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js")
    body
        .page
            header.container
                nav#menu.navbar.navbar-default.navbar-fixed-top
                    .navbar-header
                        button.btn.btn-success.navbar-toggle(data-toggle="collapse", data-target=".navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        #logo
                            a(href="#")
                                .center-block
                                    h4 The Stock Search Box
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right
                            li.active
                                a(href=".") Home
                            li
                                a(href="search.html") Search
                            li
                                a(href="contact.html") Contact&#160;&#160;&#160;&#160;
            section#body.container
                .page-header
                    h1 The Stock Search Box
                    p.text-info
                        i Follow the stock Market, make the infinite money.
                    ol.breadcrumb
                        li.active
                            | Home
                // The carousel of images
                .row.visible-md.visible-lg
                    .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
                        #carousel-images.carousel.slide(data-ride="carousel")
                            // Indicators
                            ol.carousel-indicators
                                li.active(data-target="#carousel-images", data-slide-to="0")
                                li(data-target="#carousel-images", data-slide-to="1")
                                li(data-target="#carousel-images", data-slide-to="2")
                            // Wrapper for slides
                            .carousel-inner
                                .item.active
                                    img.img-responsive(src="http://upload.wikimedia.org/wikipedia/en/f/fb/Matchmaker-Com_Stock_Certificate.jpg", alt="1")
                                    .carousel-caption
                                        strong
                                            h4.text-info Old Stock
                                            p.text-info Has a long history...
                                .item
                                    img.img-responsive(src="http://kbpublisher.gu-scs.com/kb_file/stock_Market_chart.jpg", alt="2")
                                    .carousel-caption
                                        strong
                                            h4.text-info Info is important
                                            p.text-info Anywhere, anytime...
                                .item
                                    img.img-responsive(src="http://1.bp.blogspot.com/-mXjZPU1f1uM/URYLGwQt7oI/AAAAAAAAAa0/ual-5gu7Lqs/s1600/uang.jpg", alt="3")
                                    .carousel-caption
                                        strong
                                            h4.text-info The profit
                                            p.text-info Easy life forever...
                            // Controls
                            a.left.carousel-control(href="#carousel-images", data-slide="prev")
                                span.glyphicon.glyphicon-chevron-left
                            a.right.carousel-control(href="#carousel-images", data-slide="next")
                                span.glyphicon.glyphicon-chevron-right
                hr
                section#main.col-md-8.col-sm-9
                    p.lead
                        em Find the stock info online.
                        | Now people often check the stock at anytime anywhere. This website gives you a responsive website to access stock information on any devices.
                section#sidebar.col-md-4.col-sm-3
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Sidebar
                        .panel-body
                            p
                                | Further development will be introduced like more functions, by giving more related information about stocks. It will result in a good estimation for the stock buyer"s decision.
                        .panel-footer
                            button.btn.btn-info(data-target="#myModal", data-toggle="modal") More info
            hr
            footer.container
                p
                    | Copy right for Matt Cao.
                    strong For more info:
                    a(href="mailto:mattycao@gmail.com") mattycao@gmail.com
        #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
            .modal-dialog
                .modal-content
                    .modal-header
                        a.close(href="#", data-dismiss="modal") &#215;
                        h4 More functions:
                    .modal-body
                        p More relative news based on the data-mining.
                    .modal-footer
                        button.btn.btn-success(data-dismiss="modal") Close
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js")
        // Include all compiled plugins (below), or include individual files as needed
        script(src="/javascripts/bootstrap.min.js")