/* Set the congfiguration of the width of the whole page structure */
#page {
	width:632px;
	left:0;
	top:0;
}

/* Set a large block of empty space by using div */
div.block {
	width:632px;
	left:0;
	top:0;
	height:1200px;
	font-weight:100;
	font-size:14px;
	color:#3c3c3c;
	line-height:23px;
	font-family:'Droid Sans',sans-serif;
	border-style:none none solid;
	border-bottom-style:solid;
}

/* Set the configuration of the blue */
#row {
	height:35px;
	width:665px;
	background-color:#29528b;
	left:0;
	top:0;
	position:absolute;
}

/* Set the style of the unordered list */
#rowlist {
	padding-left:17px;
	padding-top:2px;
	margin-top:0;
}

/* Set the style of each button */
.button {
	line-height:30px;
	display:inline-block;
	left:0;
	padding-top:0;
	margin-top:0;
}

/* The font(in the button) size style configuration */
a.rowfont {
	color:#d1d4da;
	margin-right:12px;
	font-size:12px;
	font-family:'Droid Sans',sans-serif;
	cursor:pointer;
	display:block;
	text-decoration:none!important;
}

/* The font(header 1) size style configuration */
h1 {
	margin-top:26px;
	font-family:'Droid Sans',sans-serif;
	font-weight:500;
	font-size:35px;
	margin-bottom:19px;
}

/* The font(paragraph) size style configuration */
p {
	font-family:'Droid Sans',sans-serif;
	font-weight:100;
	font-size:14px;
	color:#3c3c3c;
	line-height:23px;
}